<!-- This code is no longer used. It is left here b/c if in the future we want a multi-page app it might become relevant again. -->
<h1>Play a game!</h1>
<div id="status"></div>
<div id="game-container"></div>
<h2>Model Stuff Below Here</h2>
<h3> <%= @game.remaining_deck.size %> Cards in deck</h3>
<h3> <%= @game.center_deck.size %> Cards in center deck</h3>
<h3> <%= @game.hint_counter %> Hints remaining</h3>
<h3> <%= @game.bomb_counter %> Bombs remaining</h3>
<% @game.players.each do |player| %>
  <div>
  	<h1><%= player %></h1>
  </div>
<% end %>
