<h1>Play a game!</h1>
<h3> <%= @game.remaining_deck.size %> Cards in deck</h3>
<h3> <%= @game.center_deck.size %> Cards in center deck</h3>
<h3> <%= @game.hint_counter %> Hints remaining</h3>
<h3> <%= @game.bomb_counter %> Bombs remaining</h3>
<h3> <%= @game.turn_counter %> Whose Turn?</h3>
<% @game.players.each do |player| %>
  <div>
  	<h1><%= player %></h1>
  </div>
<% end %>
